@import "tailwindcss";

@layer reset, base, components, utilities;

@font-face {
  font-family: "AmaticSC";
  src: url("/fonts/Amatic_SC/AmaticSC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/* ===============================
   FONTS
================================= */

/* ===============================
   THEME VARIABLES
================================= */

:root {
  /* Background */
  --color-bg-dark: rgb(35, 34, 34);
  --color-bg-secondary: rgb(88, 75, 79);
  --color-bg-light: rgb(234, 231, 200);

  /* Accent */
  --accent-yellow: rgb(242, 201, 76);
  --accent-teal: #5fb3a9;
  --accent-cyan: #56ccf2;
  --accent-mauve: #bf5af5;
  --accent-pink: #ec97dd;
  
  --mid-purple: #5666f2;

  --bright-pink: #f8178f;
  --bright-green: #00ae0f;
  --bright-violet: #9616e0;
    --brihjt-orange: #f8a93a;


  /* Text */
  --color-text-light: #f3ede2;
  --color-text-secondary: #aaab86;
--color-text-dark: rgb(26, 25, 25);

  /* Borders */
  --color-border-pb: rgba(92, 89, 92, 0.5);
  --color-border-yb: rgba(89, 86, 52, 0.5);
  --color-border-lo: rgba(253, 236, 149, 0.5);

  /* Card */
  --color-card: #2c3138;
}


/* ===============================
   BASE STYLES
================================= */

@layer reset, base, components;

@layer reset {
  * {
    margin: 0;
  }
}

@layer base {
  body {
    background-color: var(--color-bg-dark);
    color: var( --color-text-primary);;
    font-family: sans-serif;
  }

  .main-container{
     background-color: var(--color-bg-dark);
    color: var( --color-text-primary);;
    font-family: sans-serif;
  }
}

@layer components {
  .card {
    padding: 1rem;
  }
}


p {
  font: 12px / 2.7 normal normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--color-text-primary);
  letter-spacing: 1px;
}

h1 {
  font-size: 48px;
  letter-spacing: 4px;
  font-family: "AmaticSC";
  color: var(--color-text-secondary);
}

h2,
h3,
h4 {
  font: 45px / 2 200 normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--color-text-secondary);
}


/* ===============================
   CARD STYLES
================================= */

.atom-card {
  background: var(--color-card);
  border: 1px solid var(--color-border);

  @apply rounded-xl shadow-xl backdrop-blur-md;

  display: inline-flex;
  list-style: none;
  margin: 4em 0 0;
  padding: 0;
}

.b-card {
  background: var(--color-bg-dark);
  border: 1px solid var(--color-border);

  @apply rounded-xl backdrop-blur-md;

  list-style: none;
  margin: 4em 0 0;
  padding: 1em;
}


/* ===============================
   BUTTONS
================================= */

.btn-atom {
  background: var(--color-accent-yellow);
  color: #1f242b;

  @apply font-semibold px-6 py-3 rounded-lg shadow-md transition;
}

.btn-atom:hover {
  background: #ffd86b;
  transform: translateY(-1px);
}

.btn-atom:focus {
  background: transparent;
  border: 1px solid #ffd86b;
  transform: translateY(-1px);
}

.btn-b {
  background: transparent;
  color: var(--color-text-primary);
  border: 1px solid #2ab308;
}

.btn-b:focus {
  background: transparent;
  border: 1px solid #ffd86b;
  transform: translateY(-1px);
}

.btn-b1 {
  background: transparent;
  color: var(--color-text-primary);
  border: 1px solid #b30825;
}

.btn-b1:focus {
  background: transparent;
  border: 1px solid #6e6bff;
  transform: translateY(-1px);
}


/* ===============================
   ACCENTS
================================= */

.accent {
  color: var(--color-accent-cyan);
}


/* ===============================
   HEADER / NAVIGATION
================================= */

.header-a {
  color: var(--color-text-light);
  font-size: 14px;
  height: 28px;
  padding: 3px 0;
  margin-bottom:3px;
  text-align: left;
  border-bottom: 1px solid var(--color-border-yb);
}

.admin-nav {
  padding: 2px;
  border: 1px solid magenta;
}

.header-a-link {
  color: #d7d2cb;
  font-weight: 300;
  letter-spacing: 0.02em;
  transition: color 0.2s ease;
  height: 28px;
  cursor: pointer;
  background: transparent;
  padding: 1em;
  border: 1px solid #ff6bf0;
}

.atom-nav-link:hover {
  border: 1px solid var(--color-accent-cyan);
}

.atom-nav-link:focus {
  border: 1px solid var(--color-accent-orange);
}


/* ===============================
   SESSION BAR
================================= */

.session-nav-b {
  color: var(--color-text-dark);
  padding: 5px 0;
  text-align: center;

  border: 1px solid var(--color-border-lo);
  background-color: var(--color-bg-light);
}


/* ===============================
   FOOTER
================================= */

.footer {
  color: var(--color-text-light);
  border: 1px solid var(--color-border-pb); /* 30% opacity */
  border-radius: 10px;
}


/* ===============================
   UTILITIES
================================= */